@import "src/assets/styles/mixins";

.catalog__container_currency {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(15rem, 1fr));
  //grid-template-rows: repeat(1, 15rem);
  gap: 1rem;
  flex-wrap: wrap;

}

.item__catalog{
  &-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: #f4d75e
  ;
  }

  &-img{
    max-width: 100%;
    max-height: 100%;
  }
  &__add_btn{
    border-radius: 7px;
    cursor: pointer;
    border: none;
    background: none;
  }
}


.catalog__pagination {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__page {
    padding: 10px;
    border: 1px solid #c4c4c4;
    margin: 10px 10px 0 0;
    max-width: 2rem;
    max-height: 2rem;

    &__selected {
      background: $green-bg-hover;
      cursor: pointer;
    }
  }

  :hover {
    background: #9a9a9a;
    cursor: pointer;
    color: white;
  }
}
.sorting_section{
  margin: 1rem 0 0 0;
}