$padding: 8px;
$margin: 8px;

//button
$green-bg: #084928;
$green-bg-hover: #31c375;

//radio-button
$radio-p: 0 0 0 10px;
$radio-p-411: 10px 0 0 0;

//reset-button
$reset-button-bg: #db2363;
$reset-button-hover: #e8437c;

//footer and header
$bg-footer-header:rgba(210, 210, 210, 0.50);



$radius: 4px;

