$padding: 8px;
$margin: 8px;

//button
$green-bg: #084928;
$green-bg-hover: #31c375;

//radio
$radio-p: 0 0 0 10px;
$radio-p-411: 10px 0 0 0;

//footer and header
$bg-footer-header:rgba(210, 210, 210, 0.50);



$radius: 4px;

